pool:
  vmImage: windows-latest
  
steps:
  - checkout: self
  - task: BatchScript@1
    inputs:
      filename: C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/Common7/Tools/VsDevCmd.bat
      arguments: -no_logo -arch=x64 -host_arch=x64
      modifyEnvironment: true
    displayName: 'vsvarsall.bat'

  - task: CMake@1
    inputs:
      workingDirectory: $(System.DefaultWorkingDirectory)
      cmakeArgs: -G Ninja $(Build.SourcesDirectory) -DCMAKE_BUILD_TYPE=MinSizeRel -DCMAKE_INSTALL_PREFIX=$(Build.StagingDirectory)/usr -DBUILD_SHARED_LIBS=NO -DBUILD_TESTING=NO -DCMAKE_POSITION_INDEPENDENT_CODE=YES
    displayName: 'Configure zlib'
  - task: CMake@1
    inputs:
      cmakeArgs: --build $(System.DefaultWorkingDirectory)
    displayName: 'Install zlib'
  - task: CMake@1
    inputs:
      cmakeArgs: --build $(System.DefaultWorkingDirectory) --target install
    displayName: 'Install zlib'
  - publish: $(Build.StagingDirectory)
    artifact: zlib-windows-x64